*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.employees {
    background-color: #d8d8d8;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px 15px;
}

.employees .one {
    grid-column: span 2;
}

.employees .three {
    grid-row: span 3;
}

.employees .four {
    grid-row: span 2;
}

.employees .five {
    grid-column: span 2;
}

.employees .six {
    grid-column: span 2;
}

h3 {
    margin: 10px 0;
}

h4 {
    opacity: 30%;
    margin: 10px 0;
}

.employees div {
    background-color: white;
    padding: 10px;
    position: relative;
    padding: 20px;
}

.employees div summary {
    font-weight: bold;
    margin: 10px 0;
}

.employees .three,
.employees .five,
.employees .eight {
    background-color: black;
    color: white;
    position: relative;
} 

.employees div::after{
    content: "''";
    color: #ccc;
    position: absolute;
    font-size: 65px;
    right: 15px;
    bottom: -20px;
    transform: rotate(12deg);
}

.employees div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #f9805a;
    display: flex;
    bottom: 0;
    left: 0;
}

.employees .three ::before,
.employees .five ::before,
.employees .eight ::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #b82c00;
    display: flex;
    bottom: 0;
    left: 0;
} 
