*{
    box-sizing: border-box;
}

div {
    width: 600px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 15px;
    text-align: center;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    position: relative;
    border-left-color: #f44336;
    border-right-color: #673ab7;

}

div::first-letter {
    color: #f44336;
}

div::before{
    content: "";
    height: 5px;
    position: absolute;
    width: 600px;
    top: -5px;
    left: -5px;
    background-image: linear-gradient(
        to right, 
        #f44336 20%, 
        #2196f3 20%, 
        #2196f3 40%, 
        #4caf50 40%, 
        #4caf50 60%, 
        #e91e63 60%, 
        #e91e63 80%, 
        #673ab7 80%, 
        #673ab7 100%
    );
}

div::after{
    content: "";
    background-color: red;
    height: 5px;
    position: absolute;
    width: 600px;
    top: 98px;
    left: -5px;
    background-image: linear-gradient(
        to right, 
        #f44336 20%, 
        #2196f3 20%, 
        #2196f3 40%, 
        #4caf50 40%, 
        #4caf50 60%, 
        #e91e63 60%, 
        #e91e63 80%, 
        #673ab7 80%, 
        #673ab7 100%
    );
}
